{% assign rows = site.data.hololive["en"] | size | divided_by: 4 %}
{% for i in (1..rows) %}
	<div class="row">
		{% for holo in site.data.hololive["en"] limit: 5 offset: continue %}
			{% if holo.name != "Spacer" %}
				{% if holo.gen == "4" %}
					<div class="col center">
						<a href="https://www.youtube.com/@{{ holo.youtube_url }}"><img src="{{ holo.image_path }}" class='rounded-circle' alt='Hololive'></a>
						<a href="https://www.youtube.com/@{{ holo.youtube_url }}"><h5 class='extra-margin'>{{ holo.name }}</h5></a>
					</div>
				{% else %}
					<div class="col center">
						<a href="https://www.youtube.com/@{{ holo.name | replace_first: " ", ""}}"><img src="{{ holo.image_path }}" class='rounded-circle' alt='Hololive'></a>
						<a href="https://www.youtube.com/@{{ holo.name | replace_first: " ", ""}}"><h5 class='extra-margin'>{{ holo.name }}</h5></a>
					</div>
				{% endif %}
			{% else %}
				<div class="col center"></div>
			{% endif %}
		{% endfor %}
	</div>
{% endfor %}